#logo{
    width: 10%;
}

.imagemcarousel{

    height: 100vh;
    width: 100%;
}

#cards{
    background-color: lightslategray;
}

.barra{
position: absolute;
right: 5em;
}

.margembarra{
    margin-top: 8%;
}

.footer{
background-color: black;
color: white;

}
.imagemblog{
height: 50vh;
width: 100%; 
}