#logo{
    width: 10%;
}

.imagemcarousel{

    height: 70vh;
    width: 100%;
}

#cards{
    background-color: lightslategray;
}

#footer{
    background-color: black;
    color: white; 
}

.barra{
position: absolute;
right: 5em;
}

.margembarra{
    margin-top: 6%;
}